    {{template "header.tpl" .}} 
  <body>
    {{template "nav.tpl" .}} 
    <div class="container">
    <form id="form1" name="form1" class="form_main" method="POST" action="/reports" style="padding-top: 5%" >
        <div class="row" style="margin-top: 30%">
            <div class="col-sm"> </div>
            <div class="col-sm"> 
                <label >Start Date (>=)</label>
                <input type="date" class="form-control" id="stdate" name="stdate"/>
            </div> 
            <div class="col-sm">
                <label >End Date (<=)</label>
                <input type="date" class="form-control" id="nddate" name="nddate"/>
            </div> 
            <div class="col-sm"> </div> 
        </div><br/> 
        <div class="row" style="margin-left: 10px;">
            <div class="col-sm"> </div> 
            <div class="col-sm">
              <button type="submit" class="btn btn-primary">Click Here to Generate the Report</a>
            </div>
            <div class="col-sm"> </div> 
        </div>
    </form>
    </div> <!--end container-->

    <!--JQuery and Bootstrap JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    {{template "footer.tpl" .}}
